@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.module.scss";

#main {
    width: 100%;
    overflow-y: scroll;
}

.container {
    background-color: $primary;
    border-radius: 6px;
    height: 964px;
    width: 90vw;;
}
