@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";

.article {
  color: $black;

  p {
    @include text-md-regular; 
  }

  h1 {
    @include header-1-regular;
    
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  h2 {
    @include header-2-regular;
    
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
  }

  h3 {
    @include header-3-regular;
    
    &:not(:first-child) {
      margin-top: 1.25rem;
    }
  }

  h4 {
    @include header-4-regular;
    
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  a {
    color: $primary;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: darken($primary, 10%);
    }
  }

  img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .hardBreak {
    margin-top: 1em;
  }
}