@import "@styles/base/_reset.scss";
@import "@styles/base/_mixins.scss";
@import "@styles/base/_typography.scss";
@import "@styles/abstracts/_colors.module.scss";
@import "@styles/abstracts/_variables.module.scss";

.section {
    @include flex-container(row, nowrap, center, center);
    padding-left: 20%;
    width: 100%;
}

.subsection {
    @include flex-container(column, nowrap, flex-start, flex-start);
    width: 100%;
    gap: 8px;
}

.withImage {
    width: 100%;
    gap: 32px;
    height: 100%;
}

.img {
    width: 40%;
    height: 100%;
    padding-right: 30px;
    border-radius: 8px;
}

@media screen and (max-width: $bp-md) {

    .section {
        padding-left: 4%;
        display: flex;
        @include flex-container(column, nowrap, flex-start, flex-start);
    }

    .img {
        padding-right: 0;
    }
    
}